.container{
    height: 554.88px;
    width: 270.72px;
    background-color: #83c5be;
}
p{
    text-align: left;
    padding-top: 200.44px;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 20px;
    font-family: serif;
}